[submodule "Meta-Quest-Pro-SCRCPY"]
	path = Meta-Quest-Pro-SCRCPY
	url = git@github.com:SimpleDevs-AR-VR/Meta-Quest-Pro-SCRCPY.git
[submodule "Meta-Quest-Pro-LensCorrection"]
	path = Meta-Quest-Pro-LensCorrection
	url = git@github.com:SimpleDevs-AR-VR/Meta-Quest-Pro-LensCorrection.git
